.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: 0.3s;
}

.nav-prof {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}
.navbar .nav-drop {
  position: absolute;
  top: 50px;
  background-color: white;
  width: 9rem;
  overflow: hidden;
  transition: 0.5s;
  color: black;
  border-radius: 10px;
}
.navbar .nav-drop p {
  padding: 5px;
  transition: 0.3s;
  text-align: center;
}
.navbar .nav-drop p:hover {
  background-color: red;
  color: white;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-logo img {
  height: 2.5rem;
}
