.stats {
  background-color: var(--background);
  padding: 3rem 0;
  color: var(--text-primary);
}
.s {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.progress {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.per {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.comp {
  color: #07ff6e !important;
}
.uncomp {
  color: rgb(161, 161, 161) !important;
}
.total {
  color: rgb(255, 174, 0) !important;
}

.archive {
  width: 100%;
  margin-top: 5rem;
}
.archive table {
  width: 100%;
  height: 30vh;
  overflow-y: auto;
}
.archive th,
.archive td {
  padding: 8px;
  text-align: left;
  font-size: 1.2rem;
}
.archive th {
  background-color: #1d5616;
  color: white !important;
}
