.stats {
  background-color: var(--background);
  padding: 3rem;
  color: var(--text-primary);
}
.s {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.progress {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.per {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.comp {
  color: #07ff6e !important;
}
.uncomp {
  color: rgb(161, 161, 161) !important;
}
.total {
  color: rgb(255, 174, 0) !important;
}
